<ion-header>

  <ion-toolbar class="toolBar">
    <ion-title class="title">Rețete favorite</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content >
  <div>
    <ion-list slot="content">
      <div *ngIf="retete.length==0">
        <ion-card  style="padding:10px;">

          <ion-card-title class="retetaTitle" style="text-align: center;">Nicio retetea favorit</ion-card-title>

          <ion-card-content>

        <table>
          <tr>
            <div class="container">

                <img src="assets/images/logo.png" class="ImgRetete ImgRetetePopUp" />
                <br>
                <ion-button  expand="block" share="round" color="mycolor" style="font-size: large;text-decoration:  solid; font-family: “Comic Sans MS”, “Comic Sans”, cursive;" routerLink='/home/tab1' >
                   Descoperă ceva nou
                </ion-button>


            </div>
          </tr>
          <br>
        </table>
        </ion-card-content>
        </ion-card>

      </div>
      <ion-searchbar  *ngIf="retete.length!=0" animated [(ngModel)]="searchTerm" showCancelButton="focus"></ion-searchbar>

      <ion-card *ngFor="let reteta of  retete  | filter: searchTerm" style="padding:10px;">

        <ion-card-title class="retetaTitle" style="text-align: center;">{{reteta.nume_reteta}}</ion-card-title>
        <ion-card-subtitle  ng>

          <span style="margin-left: 20%;padding-bottom: 5%;padding-bottom: 5%;">Tip: {{reteta.nume_Tip_Retete }} </span>


          <span style="position: absolute;padding-bottom: 5%; right: 20%;padding-bottom: 5%;">Scor: {{reteta.rating | number:'1.2-2'}}</span>
        </ion-card-subtitle>
        <ion-card-content>
          <table>

            <tr>
              <td>
                <img [src]="reteta.poza_reteta" class="ImgRetete" />
              </td>

              <td>
                <table>
                  <tr class="elementTitle">
                    Ingrediente
                  </tr>
                  <br>
                  <ul>
                  <li *ngFor="let ing of reteta.retetaIngredient">
                    {{ing.nume_ingredient}}</li>
                  </ul>
                  <br>

                  <tr>
                    <button class="buttonDetails"
                      (click)="openRetetaModal(reteta)" width="50%"> Vezi mai multe detalii
                    </button>
                  </tr>

                </table>
              </td>
            </tr>
          </table>

        </ion-card-content>
        <ion-footer>
          <table>
            <tr>
              <td width="100%">

                <ion-button share="round" color="mycolor" *ngIf="!reteta.liked" (click)="toggleLiked(reteta)">
                  <ion-icon name="heart-outline"></ion-icon>
                  <div>{{reteta.nr_likes}}</div>
                 </ion-button>

                <ion-button share="round" color="mycolor" *ngIf="reteta.liked" (click)="toggleLiked(reteta)">
                  <ion-icon name="heart"></ion-icon>
                  <div>{{reteta.nr_likes}}</div>
                </ion-button>
              </td>


              <td width="100%">
                <ion-button share="round" color="mycolor" style="float: right;">
                  <rating-stars [rating]="reteta.user_rating" [onReview]="this.onReview(reteta)"> </rating-stars>

                </ion-button>
              </td>

            </tr>
          </table>
        </ion-footer>






      </ion-card>

    </ion-list>
  </div>
</ion-content>
