<ion-header>
  <ion-toolbar color="mycolor" class="round" >
    <ion-title class="title">Crează Cont</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <div class="center">
      <img src="assets/images/logo.png" class="smallLogo"/>

    </div>
  <form [formGroup]="myForm">

    <ion-list>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom: 2%; padding-top: 2%;">E-mail</ion-label>
        <ion-input autocomplete="off" type="text" name="email" formControlName="email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom: 2%; padding-top: 2%;">Nume</ion-label>
        <ion-input autocomplete="off" type="text" name="LastName" formControlName="lastName" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"style="padding-bottom: 2%; padding-top: 2%;">Prenume</ion-label>
        <ion-input autocomplete="off" type="text" name="firstName" formControlName="firstName" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom: 2%; padding-top: 2%;">Nume de utilizator</ion-label>
        <ion-input autocomplete="off" type="text" name="username" formControlName="username" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" style="padding-bottom: 2%; padding-top: 2%;">Parola</ion-label>
        <ion-input autocomplete="off" type="password" name="password"  formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" style="padding-bottom: 2%; padding-top: 2%;">Sex</ion-label>
        <ion-input >

          <ion-select  name="Sex"  formControlName="sex">
            <ion-select-option value="F">Feminin</ion-select-option>
            <ion-select-option value="M">Masculin</ion-select-option>
            <ion-select-option value="N">Nu doresc sa specific</ion-select-option>
          </ion-select>
         </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked" style="padding-bottom: 2%; padding-top: 2%;">Varsta</ion-label>
        <ion-input>
          <ion-select  name="varsta"  formControlName="varsta">

            <ion-select-option value="18">Intre 18 si 25</ion-select-option>
            <ion-select-option value="26">Intre 26 si 35 </ion-select-option>
            <ion-select-option value="36">Intre 36 si 45</ion-select-option>
            <ion-select-option value="46">Intre 46 si 60</ion-select-option>
            <ion-select-option value="61">Peste 60</ion-select-option>

            <ion-select-option value="-1">Nu doresc sa specific</ion-select-option>

          </ion-select>
        </ion-input>
      </ion-item>


    </ion-list>
    <ion-button expand="block" share="round" color="mycolor" (click)="doRegister()">Register</ion-button>
  </form>
</ion-content>
