<ion-header>
  <ion-toolbar>

    <button style="background-color: transparent;padding: 2%; float: right;" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>

    <ion-title class="title">{{model_title}}</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-button *ngIf="this.canReload" (click)="dismiss()" (click)="PreopenCardModal(null)" class="button" share="round"
      color="mycolor">
      <ion-icon name='reload'></ion-icon>
    </ion-button>
    <ion-card-title class="retetaTitle" style="text-align: center;">{{model_title}}</ion-card-title>
    <ion-card-subtitle style="text-align: center" ng>
      Tip: {{tipReteta }}
    </ion-card-subtitle>
    <ion-card-subtitle style="text-align: center;padding-bottom: 2%;" ng>
      Categorie: {{categorieReteta}}
    </ion-card-subtitle>
    <ion-card-content>
      <table>
        <tr>
          <div class="container">
            <img [src]="'https'+poza" class="ImgRetete ImgRetetePopUp" />
            <button class="btn" *ngIf="!liked" (click)="toggleLiked()">
              <ion-icon name="heart-outline"></ion-icon>

            </button>

            <button class="btn" *ngIf="liked" (click)="toggleLiked()">
              <ion-icon name="heart"></ion-icon>
            </button>

          </div>
        </tr>
        <br>
        <tr class="elementTitle">
          Ingrediente
        </tr>
        <br>
        <ul *ngFor="let ing of ingrediente">
          <li>{{ing.nume_ingredient}} {{ing.cantitate!=''&& ing.unitate!=''?" - "+ing.cantitate +" "+ing.unitate :"" }}
          </li>
        </ul>
        <tr class="elementTitle">
          Instrucțiuni
        </tr>
        <br>
        <ul *ngFor="let instruc of  instructiuniSplit">
          <li>
            {{instruc}}
          </li>
        </ul>
        <tr class="elementTitle">
          Pahar recomandat
        </tr>
        <br>
        <ul>
          <li>
            {{pahar}}
          </li>
        </ul>
        <tr class="elementTitle">
          Rating
        </tr>
        <br>
        <ul style="display: inline-flex; align-items: center;">
          <rating-stars [rating]="rating" [disabled]="true"> </rating-stars>
          <span style="margin-left: 10px;">({{rating|number:'1.2-2'}})</span>
        </ul>
      </table>
    </ion-card-content>
  </ion-card>

</ion-content>
