<ion-header>
  <ion-toolbar>
    <ion-title>{{model_title}}</ion-title>

    <ion-button (click)="dismiss()">Close</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let ingredient of ingrediente">
      <ion-card-header>
        <ion-card-title> {{ingredient.nume_ingredient}} </ion-card-title>
      </ion-card-header>
        <ion-card-content>


          <ion-checkbox  style="text-align: center;" >
          <ion-icon name="add"></ion-icon>
        </ion-checkbox>
        </ion-card-content>

   </ion-card>









</ion-content>
