<ion-header>
  <ion-toolbar color="mycolor" class="round" >
    <ion-title class="title" >Bine ați Venit!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper>
    <ng-template swiperSlide>
      <img src="assets/images/logo.png"  class="logo"/>
      <h2>Drincționar</h2>
      <h3>Aplicație de cocktail-uri</h3>
    </ng-template>
  </swiper>

  <ion-button style="font-size:22px;" expand="block" share="round" color="mycolor" (click)="navigateToLogin()">Start</ion-button>
</ion-content>
