swiper, .swiper-slide.swiper-slide-active {
  padding: 80px 20px 80px 20px;
  div{
    display: block!important;
  }
  display: block!important;
  img {
    width: 100px;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
  }
}

swiper>*:first-child>*:first-child{
  display: block!important;
}
