<ion-header>
  <ion-toolbar color="mycolor" class="toolBar">
    <ion-title class="title" style="padding:2%">Bine ați venit!
      <br>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <swiper>
    <ng-template swiperSlide>
      <img src="assets/images/logo.png" class="logo" />
      <br>
      <br>
      <h2 class="title">Drinkționar</h2>
      <h3>Aplicație pentru generarea<br> rețetelor de cocktail</h3>
    </ng-template>
  </swiper>
  <ion-button
    style="font-size: large;text-decoration:  solid; font-family: 'Libre Franklin', sans-serif; margin-bottom: 2%;"
    expand="block" share="round" color="mycolor" (click)="navigateToLogin()">Start</ion-button>
</ion-content>
