
<ion-header>

  <ion-toolbar class="toolBar">
    <ion-title class="title">Sugestii </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content >
  <ion-grid style="height: 80vh;  display: flex;  flex-direction: column;  justify-content: center;">
    <ion-row>
   <ion-col>
    <div class="container2">
      <img  style="opacity: .1;" src="assets/images/zar.svg" />
      <button   fill="outline" class="sugestionBtn"   (click)="PreopenCardModal()" >Rețetă Random</button>
  </div>
</ion-col>

<ion-col>
  <div class="container2">
    <img   style="opacity: .1;" src="assets/images/altii.svg" />
    <button class="sugestionBtn" routerLink="/generate" [queryParams]="{dataSource:'AltoraLePlace'}" >Altora le place</button>
  </div>
</ion-col>
</ion-row>
<ion-row>

  <ion-col>
    <div class="container2">
      <img  style="opacity: .1;" src="assets/images/day.svg" />
      <button class="sugestionBtn"  (click)="PreopenCardModal_RetetaZilei()"><span style= "text-decoration:solid;">

      Rețeta zilei
    </span></button>
    </div>
  </ion-col>

<ion-col>
  <div class="container2">
  <img  style="opacity: .1;" src="assets/images/you.svg" />

 <button  class="sugestionBtn" routerLink="/generate" [queryParams]="{dataSource:'PentruTine'}"  share="round" color="mycolor">Pentru tine</button>
</div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
