<ion-header>

  <ion-toolbar>
    <ion-title class="title">Sugestii </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content >
  <ion-grid style="height: 80vh;  display: flex;  flex-direction: column;  justify-content: center;">
    <ion-row>
   <ion-col>
    <div class="container2">
      <img  style="opacity: .6;" src="assets/images/FrameBis.png" />
      <button  class="sugestionBtn"   (click)="PreopenCardModal()">Rețetă Random</button>
  </div>
</ion-col>

<ion-col>
  <div class="container2">
    <img   style="opacity: .6;" src="assets/images/FrameBis.png" />
    <button class="sugestionBtn" routerLink="/generate" [queryParams]="{dataSource:'AltoraLePlace'}"  share="round" color="mycolor">Altora le place</button>
  </div>
</ion-col>
</ion-row>
<ion-row>

  <ion-col>
    <div class="container2">
      <img  style="opacity: .4;" src="assets/images/FrameBis.png" />
      <button class="sugestionBtn"  (click)="PreopenCardModal_RetetaZilei()">Rețeta zilei</button>
    </div>
  </ion-col>

<ion-col>
  <div class="container2">
  <img  style="opacity: .4;" src="assets/images/FrameBis.png" />

 <button  class="sugestionBtn" routerLink="/generate" [queryParams]="{dataSource:'AltoraLePlace'}"  share="round" color="mycolor"> Pe gustul tau </button>
</div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>


