<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acasa    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" share="round" color="mango"  > Ingrediente</ion-button>
      </ion-col>

      <ion-col >
        <ion-button expand="block" share="round" color="mango" >Toate Bauturile </ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-header>


  <!--app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-content [fullscreen]="true"></ion-content-->

